*{
    margin: 0%;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.Menu-links{
height: 100%;
transition: tansform .5s;
display: flex;
}

.Menu_items{
list-style: none;
position: relative;
height: 100%;
}


body{
    width: 100%;
    height: 100vh;
    background: #757F9A;
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A); 
    background: linear-gradient(to right, #D7DDE8, #757F9A); 
    font-family: 'Roboto', sans-serif;
}

form{
    position: absolute;
    min-width: 280px;
    max-width: 26%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: 0 1rem rgba(255,255,255,0.1);
    background-color: rgba(225,225,225);
    backdrop-filter: blur(1rem);
    border-radius: 8px;
    color: rgb(0, 0, 0);

}



h1{
    position: relative;
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 7px;
    text-align: center;
}



h1::after{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 4px;
    background-color: rgba(87, 86, 86, 0.718);
    width: 150px;
    left: 20%;
    bottom: 0;

}


#cajas{
    
    width: 100%;
    height: 50px;
    padding: 5px 6px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 1px;
}

#casillas{
    height: 50px;
    margin-bottom: 20px;

}

button{
    display: block;
    margin: auto;
    width: 230px;
    height: 50px;
    background-color: #2496ED;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}

.Menu{
    background-color: #1a202c;
    color: #fff;
    height: 70px;
}

.Contenido{
display: flex;
justify-content: space-between;
align-items: center;
width: 1200px;
max-width: 1200px;
height: 100%;
margin: 0 auto;
}
