html {
    font-size: 62.5%;
    background-color: #efefef;

}

body {
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
}

.encabezado {
    background-color: #424242;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    padding: 1rem 10%;
}

.encabezado .logo img {
    height: 20rem;
    width: 20rem;
    transition: all 0.3s;
    float: left;
    justify-content: center;
    align-items: center;
}

.encabezado .logo {
    cursor: pointer;
}

.encabezado .logo img:hover {
    transform: scale(1.2);
}

.encabezado .barra-nav {
    list-style: none;
}

.encabezado .barra-nav a {
    display: inline-block;
    padding: 0 2rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.encabezado .barra-nav a:hover {
    transform: scale(1.1);
    color: #ffb300;
}

.encabezado .barra-nav button {
    color: black;
    padding: 1rem 2rem;
    background-color: #ffb300;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 2rem;
}

.encabezado .barra-nav .boton:hover {
    background-color: #424242;
    color: #efefef;
    transform: scale(1.1);
}

.pie-de-pagina {
    width: 100%;
    background-color: #424242;
}

.pie-de-pagina .grupo1 {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding: 4.5rem 0rem;
}

.pie-de-pagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo1 .box figure img {
    width: 25rem;
}

.pie-de-pagina .grupo1 .box h2 {
    color: #ffb300;
    margin-bottom: 2.5rem;
    font-size: 4rem;
}

.pie-de-pagina .grupo1 .box p {
    color: white;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.pie-de-pagina .grupo1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
}

.imagen {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    height: 50rem;
}

img {
    border-radius: 2rem;
}

.texto {
    padding-left: 2rem;
}

.texto p {
    font-size: 3rem;
}

h1 {
    font-size: 6rem;
    text-align: left;
}