html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #E5E5E5;

    /* background: url(/img/img_signin.jpg);
    background-size: cover;
    background-attachment: fixed; */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 2rem; */
}

/*para crear y diseñar el fomrulario*/
form {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    text-align: center;
    padding: 2rem 2.5rem;
    box-shadow: 0 0.5rem 1rem rgba(71, 3, 6, 0.7);
    border-radius: 1rem;
    border-color: #ffb300;
    border-style: double;
}

/*para dimensionar una imagen dentro del formulario*/
form img {
    height: 30rem;
    width: 30rem;
    margin: auto;
}

/*darle distancia en tre labels*/
form label {
    margin-bottom: 2rem;
}

form label svg {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
}

form label input {
    border-radius: 0rem;
    padding: 0.5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    color: black;
    border-bottom: solid 0.1rem #ffb300;
}

form label input::placeholder {
    font-style: italic;
    color: rgba(37, 37, 37, 0.5);
}
/* 
form button {
    color: black;
    border: none;
    background: #ffb300;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
} */

form p {
    margin-bottom: 1rem;
}

form a {
    margin-left: 1rem;
    color: black;
}